@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';

@primary-color: #8381f1;
@primary-background: #f2f3f4;
@border-radius-base: 5px;
@font-family: 'Ubuntu';

body {
  background-color: @primary-background;
}
