@colors: {
  colorless: #e5d6d0;
  darkness: #2c2e2b;
  dragon: #c6a114;
  fairy: #e03a83;
  fighting: #ff501f;
  fire: #e24242;
  grass: #7db808;
  lightning: #fab536;
  metal: #8a776e;
  psychic: #a65e9a;
  water: #5bc7e5;
};

each(@colors, {
  .@{key} {
    background-color: @value;
    border-color: @value;

    padding: 40px;
    margin: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
      filter: brightness(0.7);
      background-color: @value;
    }
  };
});
